<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.globaltester.smartcardshell.protocols">
      <protocol
            class="org.globaltester.smartcardshell.protocols.iso7816.ProtocolProvider"
            name="ISO7816">
      </protocol>
   </extension>

</plugin>
